#! /usr/bin/env bash

PROJECT_ROOT="$(pwd)"
LIB_NAME="melt"
LIB_ROOT="${PROJECT_ROOT}/${LIB_NAME}"
export LIB_NAME
export PROJECT_ROOT
export LIB_ROOT

# Export the project root for use in other scripts
export melt_ROOT="${PROJECT_ROOT}"

if [[ -d ".luarocks" ]]; then
    # if luarrocks is not installed, exit
    LUAROCKS_BIN=$(command -v luarocks)
    if [[ -z "${LUAROCKS_BIN}" ]]; then
        echo "LuaRocks is not installed. Please install it to use this project." >&2
        exit 1
    fi
    # because we're using a local luarocks tree, we need to set the path
    LUAROCKS_PATH_RESULT=$("${LUAROCKS_BIN}" --tree "${PROJECT_ROOT}/.luarocks" path) && eval "${LUAROCKS_PATH_RESULT}"
fi
