# CONFIG Example
title = CONFIG Example
service_host = config_host
log_level = debug
feature_x_enabled = true

# Owner information
owner.name = Tom Preston-Werner
owner.dob = 1979-05-27T07:32:00-08:00

# Database settings
database.enabled = true
database.ports = 8000,8001,8002
database.temp_targets.cpu = 79.5
database.temp_targets.case = 72.0